In [25]:
import pandas as pd
from sklearn.datasets import load_iris

In [26]:
iris = load_iris()
X = pd.DataFrame(iris.data)
y = pd.DataFrame(iris.target, columns=['class'])

In [27]:
df = pd.concat([X, y], axis=1)
df

       0    1    2    3  class
0    5.1  3.5  1.4  0.2      0
1    4.9  3.0  1.4  0.2      0
2    4.7  3.2  1.3  0.2      0
3    4.6  3.1  1.5  0.2      0
4    5.0  3.6  1.4  0.2      0
..   ...  ...  ...  ...    ...
145  6.7  3.0  5.2  2.3      2
146  6.3  2.5  5.0  1.9      2
147  6.5  3.0  5.2  2.0      2
148  6.2  3.4  5.4  2.3      2
149  5.9  3.0  5.1  1.8      2

[150 rows x 5 columns]

In [28]:
df = df[df['class'] != 2]

In [29]:
X = df.iloc[:,0:3]
X

      0    1    2
0   5.1  3.5  1.4
1   4.9  3.0  1.4
2   4.7  3.2  1.3
3   4.6  3.1  1.5
4   5.0  3.6  1.4
..  ...  ...  ...
95  5.7  3.0  4.2
96  5.7  2.9  4.2
97  6.2  2.9  4.3
98  5.1  2.5  3.0
99  5.7  2.8  4.1

[100 rows x 3 columns]

In [30]:
y = df.iloc[:, -1]
y

0     0
1     0
2     0
3     0
4     0
     ..
95    1
96    1
97    1
98    1
99    1
Name: class, Length: 100, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=1)

In [32]:
from sklearn.preprocessing import Normalizer, MinMaxScaler

norm = Normalizer()
norm.fit(X_train)
X_train = norm.transform(X_train)
X_test = norm.transform(X_test)

sc = MinMaxScaler()
sc.fit(X_train)
X_train = pd.DataFrame(sc.transform(X_train))
X_test = pd.DataFrame(sc.transform(X_test))

In [33]:
X_train.to_csv('iris/train_data.csv', header=False, index=False)
X_test.to_csv('iris/test_data.csv', header=False, index=False)
y_train.to_csv('iris/train_labels.csv', header=False, index=False)
y_test.to_csv('iris/test_labels.csv', header=False, index=False)