In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()
X = pd.DataFrame(iris.data)
y = pd.DataFrame(iris.target, columns=['class'])

In [3]:
df = pd.concat([X, y], axis=1)
df = df[df['class'] != 2]

In [4]:
X = df.iloc[:,0:3]
X

      0    1    2
0   5.1  3.5  1.4
1   4.9  3.0  1.4
2   4.7  3.2  1.3
3   4.6  3.1  1.5
4   5.0  3.6  1.4
..  ...  ...  ...
95  5.7  3.0  4.2
96  5.7  2.9  4.2
97  6.2  2.9  4.3
98  5.1  2.5  3.0
99  5.7  2.8  4.1

[100 rows x 3 columns]

In [5]:
y = df.iloc[:, -1]
y

0     0
1     0
2     0
3     0
4     0
     ..
95    1
96    1
97    1
98    1
99    1
Name: class, Length: 100, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=1)

In [7]:
X_train.to_csv('iris/train_data.csv', header=False, index=False)
X_test.to_csv('iris/train_labels.csv', header=False, index=False)
y_train.to_csv('iris/test_data.csv', header=False, index=False)
y_test.to_csv('iris/test_labels.csv', header=False, index=False)